{% load static %}
<section class="mb-16">
    <h2 class="text-2xl font-bold mb-4">Доставка</h2>
    <div class="w-full h-60 bg-cover bg-center rounded-lg mb-6" style="background-image: url('{% static "img/Frame.png" %}');"></div>
    
    <p class="text-lg mb-4">
        Для удобства покупателей действует несколько способов доставки товаров:
    </p>
    
    <ul class="list-disc list-inside mb-6 space-y-2">
        <li>Доставка по Москве и границам МКАД</li>
        <li>Доставка по Московской Области</li>
        <li>Доставка в другие регионы России</li>
    </ul>

    <p class="text-lg mb-4">
        Любой из способов доставки для оформления заказа через сайт или Instagram доступен.
    </p>
    
    <p class="bg-gray-100 p-4 rounded-lg mb-4 text-gray-800">
        Внимание: наш сервис доставляет велосипеды в собранном и готовом виде. <br>
        По любому вопросу о доставке и возврате товаров звоните оператору: 
        <a href="tel:+74950557586" class="text-red-600 font-semibold">+7 (495) 055-75-86</a>
    </p>

    <p class="text-lg">
        Для любого заказа возможен самовывоз из магазина.
    </p>
</section>